* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    color: #555555;
    background-color: #B4B4B4;
    font-family: Lato;
    font-size: 1rem;
    position: relative;
    height: 100vh;
    font-weight: 400;
}
h1 {
    background-color: #6E6E6E;
    padding: 1rem;
    text-align: center;
}
.content {
    background-color: #B4B4B4;
}
.top {
    background-color: #CECECE;
}
.right {float: right;}
.add-container {
    margin: none;
    padding: 0.5rem;
    width: 29.7rem;;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    background-color: #CECECE;
    position: fixed;
    bottom: 0;
}
.add-item {
    border: 1px solid #E7E7E7;
    background-color: #F7F7F7;
    color: inherit;
    font-family: inherit;
    font-size: 0.875rem;
    padding: 0.75rem 6.4rem;
    margin-right: 0.75rem;
    border-radius: 5rem;                            
    transition: border 0.3s;
}
.add-item:focus {
    outline: none;
    border: 1px solid #28B9B5;
}
.save-btn {
    margin: 0;
    padding-left: 19rem;
    font-size: 2rem;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    line-height: 1.1;
    vertical-align: top;
}
.add-btn {
    font-size: 2.2rem;
    background-color: #CECECE;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 1rem;
}
.save-btn:focus,
.add-btn:focus {outline: none;}
.save-btn:active,
.add-btn:active { transform: translateY(2px); }

.container {
    width: 90vw;
    margin: 3.75rem auto 0 auto;
    background-color: #B4B4B4;
}
.list {
    float: left;
    height: 78.2vh;
    width: 29.7rem;
    margin-right: 3.125rem;
    background-color: #CECECE;
}
.edit-list {
    float: right;
    height: 78.2vh;
    width: 29.7rem;
    background-color:  #CECECE;
}
.add {
    background-color: #CECECE;
    margin: 1rem;
    max-height: 300px;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;
}
.save-title {
    padding: 1rem 0 0 1rem;
    display: flex;
    vertical-align: middle;
    background-color: inherit;
}

.list-title {
    margin: 1rem;
    background-color: #CECECE;
    padding: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}
.add-list-title {
    background-color: inherit;
    margin: none;
    padding: 0.5rem;
    text-align: bottom;
    text-transform: uppercase;
    text-align: left;
    font-size: 1;
    font-weight: 400;
}
.add-title {
    position: relative;
    margin: none;
    padding-top: none;
    width: 29.7rem;
    left: 49%;
    transform: translateX(-49%);
    color: #555;
    background-color: #CECECE;
    border: none;
    outline: none;
    font-family: Lato;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.item {
    padding: 0.8rem;
    border-bottom: 1px solid #E7E7E7;
}

.item:nth-child(odd) {
    border-top: 1px solid #E7E7E7; 
    background-color: #E7E7E7;
}
.item:nth-child(even) { background-color: #F7F7F7; }
.item-description {
    float: left;
}
.remove-btn {color:  #FF5049;}
.edit-btn {color: #28B9B5;}
.remove-btn,
.edit-btn {
    padding-left: 0.5rem;
    font-size: 1.4rem;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}
.edit-btn:focus,
.remove-btn:focus { outline: none;}
.edit-btn:active, 
.remove-btn:active { transform: translateY(2px);}  
.item:hover .remove-btn { display: inline-block;}
.item:hover .edit-btn {display: inline-block;}
.item:hover .edit-item {
    display: flex;
    flex: auto;
}